{{ define "base" }}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <script src="/static/js/vendor/modernizr.js"></script>
    {{ template "head" . }}
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Wiki 
          <small>This is my wiki. It's awesome</small>
        </h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        {{ template "body" . }}
      </div>
    </div>
    <footer class="row">
      <div class="large-12 columns">
        <hr>
        <p>Copyright 2014, All Rights Reserved.</p>
      </div>
    </footer>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
{{end}}
